*
{
padding: 0;
margin: 0;
color: white;
}
#Navbar{
    height: 70px;

    background-color: black;
}
button{
    background-color: orange;
}
#logo{
    color: orange;
    font-size: 25px;
}
a{
    margin-right: 170px;
    text-decoration: none;
}